@model WEB.Models.User

@{
    ViewData["Title"] = "Añadir Viajero";
}

<h1>Añadir Viajero</h1>

<div class="text-center">
    <p style="font-size:larger; color:red">@ViewData["Error"]</p>
    <p style="font-size:larger; color:yellowgreen">@ViewData["Success"]</p>
</div>
<div class="row">
    <div class="col-4">
        <form asp-action="AddFriend">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="userName" class="control-label"></label>
                <input asp-for="userName" class="form-control" />
                <span asp-validation-for="userName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Añadir" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>