@model IEnumerable<WEB.Models.Contact>

@{
    ViewData["Title"] = "Contactos";
}

<h1>@ViewData["Title"]</h1>
<hr>
@if (!Model.Any())
{
    <h3>No tienes ningún contacto por el momento.<br>Empieza <a asp-action="AddFriend">agregando a otro viajero</a> o <a asp-action="Requests">revisa tus solicitudes</a></h3>
}
else
{
<pre class="text-center" style="font-size:medium">
<a asp-action="SentRequests">Solicitudes enviadas</a>       <a asp-action="Requests">Nuevas solicitudes</a>
</pre>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Usuario
                </th>
                <th>
                    Chat
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.userContact)
                    </td>
                    <td>
                        @Html.ActionLink("Abrir Chat", "Chat", new { id = item.userContact })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
