@model IEnumerable<WEB.Models.Contacto>

@{
    ViewData["Title"] = "Contactos";
}

<h1>Contactos</h1>


@if (!Model.Any())
{
    <h3>No tienes ningún contacto por el momento.<br>Empieza <a asp-action="AddFriend">agregando a tus amigos</a> o <a asp-action="Requests"> Revisa tus solicitudes de amistad</a></h3>
}
else
{
<pre class="text-center" style="font-size:medium">
<a asp-action="SentRequests">Solicitudes enviadas</a>       <a asp-action="Requests">Nuevas solicitudes</a>
</pre>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserContact)
                </th>
                <th>
                    Chat
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserContact)
                    </td>
                    <td>
                        @Html.ActionLink("Abrir Chat", "Chat", new { id = item.UserContact })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
