@model IEnumerable<WEB.Models.Chats>

@{
    ViewData["Title"] = "Chats";
}

<h1>Chats</h1>

<div class="text-center">
    @if (!Model.Any())
    {
        <h3>No tienes ningún chat activo.<br>Inicia una conversación con otro <a asp-action="Contacts">viajero</a> o <a asp-action="AddFriend">agrega nuevos viajeros</a></h3>
    }
    else
    {
        <p class="text-center" style="font-size:medium"> <a asp-action="GroupChat">Crear chat grupal</a></p>
        <br />
        <br />
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.members)
                    </th>
                    <th>
                        Ir al chat
                    </th>
                    <th>
                        Detalles
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @if (item.group)
                            {
                                string miembros = "";
                                foreach (var m in item.members)
                                {
                                    miembros += m;
                                    if (m != item.members.Last())
                                    {
                                        miembros += ", ";
                                    }
                                }
                            }
                        </td>
                        <td>
                            <pre>@Html.ActionLink("Abrir chat", "Chats", new { id = item, sent = false })</pre>
                        </td>
                        <td>
                            <pre>@Html.ActionLink("Eliminar", "DeleteChat", new { id = item, sent = false }) | @Html.ActionLink("Buscar Mensajes", "SearchMessages", new { id = item, sent = false })</pre>
                        </td>
                    </tr>
                 }
            </tbody>
        </table>
    }
</div>
