@model IEnumerable<WEB.Models.Contact>

@{
    ViewData["Title"] = "Solicitudes Enviadas";
}

<h1>Solicitudes Enviadas</h1>


@if (!Model.Any())
{
    <h3 class="text-center">No has enviado ninguna solicitud por el momento.<br /> <a asp-action="AddFriend">Agrega a otro viajero</a> con su nombre de usuario</h3>
}
else
{
<pre class="text-center" style="font-size:medium">
<a asp-action="SentRequests">Solicitudes Enviadas</a>       <a asp-action="Requests">Solicitudes Recibidas</a>
</pre>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.userContact)
                </th>
                <th>
                    Eliminar Solicitud
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.userContact)
                    </td>
                    <td>
                        @Html.ActionLink("Eliminar", "DeleteRequest", new { id = item.userContact, sent = true });
                    </td>
                </tr>
            }
        </tbody>
    </table>
}