@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
    <h1 class="display-1">Teyvat Express</h1>
    <h1 class="display-4">¡Bienvenido, viajero!</h1>
    <img srcset="https://pbs.twimg.com/media/E4wwRSoWQAQ6f5j.png" />
</div>