@{
    ViewData["Title"] = "Home Page";
}


<style>
body {
  background-image: url(https://images4.alphacoders.com/109/thumb-1920-1099190.png);
}
</style>

<div class="text-center">
    <h1 class="display-1">Teyvat Express</h1>
    <h2 class="display-4" text-decoration="-">¡Bienvenido, viajero!</h2>
    <img srcset="https://pbs.twimg.com/media/E4wwRSoWQAQ6f5j.png" />
</div>